{
  email {$ACME_EMAIL}
  servers {
    protocols h1 h2 h3
  }
}

app.opencrew.dev {
  encode zstd gzip
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
  reverse_proxy cloud:4100
}
